<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Users</a>
    </div>

    <div class="table-container">
        <%= JSON.stringify(listUsers)  %>
        <div>List Users</div>
        <table class="w3-table-all w3-hoverable title">
            <thead>
              <tr class="w3-light-grey">
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Actions</th>
              </tr>
            </thead>
            <% listUsers.forEach(function(user){ %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.email %></td>
                <td><%= user.name %></td>
                <td><%= user.city %></td>
                <td>
                  <button>Edit</button>
                  <button>Delete</button>
                </td>
              </tr>

            <% }) %>


          </table>
    
    </div>


   
</body>
</html>